section {
  height: 100vh;
}

.home {
  height: 100vh;
  color: #fff;
  background-color: #010101;

  img {
    max-width: 150px;
    height: auto;
    border-radius: 100px;
  }

  h2 {
    font-weight: bold;
  }

  h4 {
    font-weight: 300;
  }
}

$spacing: 10px;

header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: $spacing;

  a {
    font-weight: lighter;
    text-decoration: none;
    margin: 0 12px;
    font-size: 2.4em;
    color: #fff;

    &:hover {
      color: #fff;
      opacity: 0.8;
    }
  }
}

footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: $spacing;
  font-weight: 300;
  font-size: 1.1em;
  color: #fff;
}
