section {
  height: 100vh;
}

.home {
  height: 100vh;
  color: #fff;
  background-color: #010101;
}
.home img {
  max-width: 150px;
  height: auto;
  border-radius: 100px;
}
.home h2 {
  font-weight: bold;
}
.home h4 {
  font-weight: 300;
}

header {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10px;
}
header a {
  font-weight: lighter;
  text-decoration: none;
  margin: 0 12px;
  font-size: 2.4em;
  color: #fff;
}
header a:hover {
  color: #fff;
  opacity: 0.8;
}

footer {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10px;
  font-weight: 300;
  font-size: 1.1em;
  color: #fff;
}

* {
  font-family: "Roboto";
  overflow-wrap: break-word;
}