* {
    font-family: "Montserrat Alternates", sans-serif;
    font-family: "Oswald", sans-serif;
}

.about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
}
.box {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    border: 2px #d3d3d3 dashed;
}

img {
    width: 150px;
    height: auto;
}
